.product__card {
  max-width: 400px;
  margin: 5vh auto;
}

.product__header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
