.register__card {
  width: 50vw;
  max-width: 800px;
  margin: 20vh auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  button {
    margin-bottom: 10px;
  }
}

.register__input {
  width: 100%;
}
