<mat-card class="login__card">
    <mat-card-header>
        <mat-card-title>LogIn</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="login__input">
            <input matInput type="email" name="email" [(ngModel)]="email" placeholder="Email" required />
        </mat-form-field>
        <mat-form-field class="login__input">
            <input matInput type="password" name="password" [(ngModel)]="password" placeholder="Password" required />
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="logIn()">Login</button>
        <button mat-raised-button color="warn" (click)="logIn()">Register</button>
    </mat-card-actions>
</mat-card>